services:
  api:
    build:
      context: ./Server/DogHub
      dockerfile: Dockerfile
    container_name: doghub-api
    restart: always
    volumes:
      - ./Assets:/app/Assets:ro
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    extra_hosts:
      - "host.docker.internal:host-gateway"    
    networks:
      - backend

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: doghub-client
    restart: always
    depends_on:
      - api
    ports:
      - "443:443"      # HTTPS снаружи -> HTTPS внутри контейнера
    extra_hosts:
      - "host.docker.internal:host-gateway"  
    networks:
      - backend

networks:
  backend:
