version: "3.9"

services:
  api:
    build:
      context: ./Server/DogHub
      dockerfile: Dockerfile
    container_name: doghub-api
    restart: always
    volumes:
      - ./Assets:/app/Assets:ro
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    networks:
      - backend
    # можно оставить или убрать внешний порт, как тебе нужно:
    # ports:
    #   - "6000:8080"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: doghub-client
    restart: always
    depends_on:
      - api
    ports:
      - "443:443"      # HTTPS снаружи -> HTTPS внутри контейнера
    networks:
      - backend

networks:
  backend:
